---
layout: default
title: Ngành khoa học máy tính | Tuyển sinh 2015
header_css: no-banner
major: khmt
---

        {% include major_breadcrumb.html %}

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    {% include admission_card.html %}
                </div>

                <div class="col-md-8">
                    <div class="block_component">
                        
                        <h3>1. Khoa học máy tính là gì?</h3>
<p>Khoa học máy tính (Computer Science) là một ngành khoa học nghiên cứu việc xử lý thông tin trên máy tính và ứng dụng vào giải quyết các vấn đề của cuộc sống. Đây là một quá trình nghiên cứu về tính khả thi, cấu trúc dữ liệu, thuật toán, … để xử lý thông tin bằng máy tính.</p>
<p><img style="margin: 11px; float: left;" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh.jpg" alt="" width="258" height="174" />Ngày nay, Khoa học máy tính được xem là ngành khoa học nền tảng cho các ngành khác trong lĩnh vực Công nghệ thông tin và tập trung vào nghiên cứu các thuật toán, giới hạn của việc tính toán trong việc giải quyết các vấn đề thực tế đang được quan tâm bằng máy tính (bao gồm cả phần cứng và phần mềm).</p>
<p>Hiện nay, Khoa học máy tính đang tập trung vào hai lĩnh vực nghiên cứu: Nghiên cứu lý thuyết và nghiên cứu ứng dụng. Nghiên cứu lý thuyết trong khoa học máy tính tập trung vào: toán học tính toán, thông tin và mã hoá thông tin, cấu trúc dữ liệu và giải thuật, lý thuyết ngôn ngữ lập trình…<img style="float: right; margin: 11px;" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh1.jpg" alt="" width="278" height="208" /></p>
<p>Song song với nghiên cứu lý thuyết, nghiên cứu ứng dụng tập trung vào giải quyết các vấn đề của cuộc sống hàng ngày như:</p>
<p>- Làm thế nào để máy tính có thể thông minh hơn, xử lý ngôn ngữ tự nhiên, người máy thông minh …</p>
<p>- Làm thế nào để bạn an toàn hơn trên internet, đảm bảo an toàn cho các giao dịch ngân hàng, an ninh mạng, virus máy tính, …</p>
<p>- Trao đổi, chia sẻ thông tin một cách dễ dàng (Facebook, Twitter, …); Giúp mọi người làm việc, giải trí mọi lúc mọi nơi (Teamviewer, iCloud, game, video, …)</p>
<p>Trên thế giới và tại Việt Nam Khoa học máy tính hiện nay đang là một ngành thu hút được sự quan tâm rất lớn của các bạn học sinh, sinh viên.</p>
<p>Như vậy có thể thấy Ngành Khoa học máy tính là một trong những ngành học quan trọng đào tạo về CNTT. Khoa học máy tính là ngành học dành cho những cá nhân đam mê lĩnh vực nghiên cứu chuyên sâu về CNTT. Với ngành Khoa học máy tính, sinh viên sẽ được trang bị một nền tảng kiến thức rộng lớn bao gồm cấu trúc máy tính, hệ điều hành, ngôn ngữ lập trình phần mềm và phần cứng. Ngoài ra sinh viên có thể lựa chọn các lĩnh vực chuyên sâu trong chuyên ngành Khoa học máy tính để nghiên cứu chuyên sâu như hệ chuyên gia, tương tác người-máy và ứng dụng trong các môi trường như hệ đa phương tiện; xử lý hình ảnh, âm thanh.</p>
<h3>2. Tố chất phù hợp với Ngành Khoa học máy tính</h3>
<p>- Thông minh và có óc sáng tạo</p>
<p>- Khả năng làm việc dưới áp lực lớn</p>
<p>- Kiên trì, nhẫn nại.</p>
<p>- Tính chính xác trong công việc</p>
<p>- Ham học hỏi, trau dồi kiến thức</p>
<p>- Khả năng làm việc theo nhóm</p>
<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh2.jpg" alt="" width="260" height="194" />

<p>Những lý do chọn Ngành Khoa học máy tính</p>
<p>-  Theo tạp chí College Factual đưa ra bảng xếp loại 10 chuyên ngành được trả mức lương cao nhất ở Mỹ trong đó đứng đầu là ngành Kĩ  thuật dầu mỏ ngành thứ 2 là khoa học máy tính.</p>
<p>- Khoa học máy tính là ngành nghiên cứu chuyên sâu về CNTT. CNTT luôn phát triển từng ngày,từng giờ với tốc độ chóng mặt nên với nhucầulớn về nhân lực ngành CNTTcũng như việc</p>

<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh3.jpg" alt="" width="260" height="194" />

<p>còn khan hiếm nhân sự trong lĩnhvực khoa học máy tính nên cơ hội dành cho những người chọn ngành này là rất lớn.</p>
<p>- Dù bạn muốn lập trình cái gì đi chăng nữa thì hãy học khoa học máy tính, để có nền tảng thuật toán tốt và hiểu biết đầy đủ về các lĩnh vực đa dạng của máy tính. Sau đó bạn có thể tự tin làm sâu về một mảng nào đó, tất nhiên là bao gồm cả lập trình viên tại các công ty phần mềm. Các kiến thức riêng biệt cho công nghệ phần mềm hoàn toàn có thể học khi đi làm thực tế.</p>
<h3>3. Đặc điểm chương trình đào tạo Ngành Khoa học máy tính- Trường cao đẳng Công nghệ Thông tin Hữu nghị Việt – Hàn.</h3>
<ul style="text-align: justify;">
<li>Đặc điểm chương trình đào tạo</li>
</ul>
<p>Chương trình đào tạo Ngành Khoa học máy tính - Trường cao đẳng công nghệ thông tin Hữu nghị Việt - Hàn được các Giáo sư Hàn Quốc tư vấn thiết kế và xây dựng theo chương trình và công nghệ đào tạo tiên tiến của Hàn Quốc nhằm giúp sinh viên nắm vững kiến thức cơ bản và cơ sở ngành, nâng cao khả năng tự học, tư duy sáng tạo, có kỹ năng thực hành nghề nghiệp và kỹ năng sống.</p>
<p>Chương trình đào tạo Ngành Khoa học máy tính được thiết kế nhằm trang bị các kiến thức về khoa học tự nhiên, các kiến thức cơ bản như mạng máy tính, an toàn và bảo mật hệ thống thông tin, phân tích và thiết kế hệ thống thông tin, lập trình phần mềm đáp ứng được mục tiêu của chương trình đào tạo là sinh viên sau khi tốt nghiệp Ngành Khoa học máy tính phải đáp ứng các yêu cầu sau:</p>
<p>- Có kiến thức cơ bản và chuyên sâu về khoa học máy tính và công nghệ thông tin, có khả năng thiết kế các hệ thống xử lý tính toán, các phần mềm cơ bản,có khả năng quản lý các hệ thống máy tính, các hệ thống tin học.</p>
<p>- Có khả năng triển khai xây dựng các hệ thống ứng dụng tin học và phân tích, thiết kế xây dựng các phần mềm.</p>
<p>- Có khả năng tự học học tập, phân tích độc lập và nghiên cứu các vấn đề chuyên sâu về lĩnh vực Công nghệ thông tin và ứng dụng liên quan; có thể tiếp tục học tập ở bậc đào tạo đại học.</p>
<p>- Có khả năng giải quyết các vấn đề, tình huống nảy sinh trong quá trình làm việc, phân tích và đề xuất giải pháp phù hợp với thực tế để giải quyết. Có khả năng thiết lập các mục tiêu khả thi, lập kế hoạch phù hợp với điều kiện thực tế để hoàn thành công việc được giao.</p>
<p>- Có khả năng giao tiếp xã hội, làm việc hợp tác, làm việc nhóm và làm việc trong một tổ chức; có khả năng vận dụng các kiến thức, kỹ năng và kinh nghiệm để giải quyết các tình huống nghề nghiệp khác nhau.</p>
<p>- Có trình độ tiếng Anh chuyên ngành tốt, có thể nghiên cứu, đọc tài liệu ngành khoa học máy tính nói riêng và CNTT nói chung.</p>
<p>Với hệ thống giáo trình hiện đại theo chương trình đào tạo của Hàn Quốc, sau khi tốt nghiệp, sinh viên còn dễ dàng học liên thông lên đại học tại các trường đào tạo Công nghệ thông tin trong nước. Ngoài ra, nhà trường còn có các chương trình hợp tác đào tạo với các trường đại học tại Hàn Quốc như Soongsil, Tongmyong…để sinh viên có thể học tiếp chương trình đại học tại nước ngoài với học bổng hấp dẫn.</p>
<ul style="text-align: justify;">
<li>Đội ngũ giảng viên và cơ sở vật chất</li>
</ul>
<p>Đội ngũ giảng viên Khoa khoa học máy tính có trình độ tiến sĩ, thạc sĩ hoặc đang làm nghiên cứu sinh, được đào tạo tại nhiều nước như Anh, Pháp, Ba Lan, Hàn Quốc, Việt Nam...Hàng năm, các giảng viên được tham gia các khóa đào tạo trong và ngoài nước để nâng cao chuyên môn và nghiệp vụ. Các giảng viên có khả năng sư phạm tốt, luôn nhiệt tình giảng dạy đối với sinh viên.</p>
<p>Các phòng thí nghiệm, thực hành phục vụ giảng dạy và học tập Ngành khoa học máy tính được trang bị hiện đại và đồng bộ, có 29 phòng thực hành máy tính được trang bị máy tính và các thiết bị  hiện đại, tất cả các phần mềm đều có bản quyền.</p>
<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh4.jpg" alt="" width="100%" />

<p><em>Phòng Hệ thống điện toán đám mây</em></p>


<p> </p>
<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh5.jpg" alt="" width="382" height="239" />
<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh6.jpg" alt="" width="414" height="242" />

<p><em>Phòng giảng dạy  thực hành máy tính</em></p>

<p>Hệ thống thông tin của trường được trang bị hiện đại với cơ sở hạ tầng mạng cáp quang, đường truyền internet tốc độ cao, hệ thống máy chủ hiện đại phục vụ tốt nhu cầu nghiên cứu, học tập cũng như tra cứu của sinh viên.</p>
<p>Bên cạnh đó, nhà trường còn có trung tâm thông tin tư liệu mở cửa thường xuyên với danh mục giáo trình tài liệu được cập nhật hàng năm, hệ thống sân chơi thể thao đáp ứng nhu cầu rèn luyện sức khỏe cho sinh viên, trung tâm y tế hiện đại và ký túc xá khang trang.</p>
<ul style="text-align: justify;">
<li>Cơ hội và vị trí làm việc sau tốt nghiệp.</li>
</ul>
<p>Với chương trình đào tạo tiên tiến, thời lượng thực hành cao, các phòng thực hành hiện đại và cộng với đội ngũ giảng viên nhiệt tình, nhiều kinh nghiệm nên sinh viên tốt nghiệp ngành Khoa học máy tính có thể làm việc ở các phạm vi và lĩnh vực khác nhau như:</p>
<p>- Chuyên viên phân tích, thiết kế, cài đặt các đề án công nghệ thông tin đáp ứng các ứng dụng khác nhau trong các cơ quan, công ty, trường học,....</p>
<p>- Có thể làm việc với vai trò là một Chuyên viên lập dự án, lên kế hoạch, hoạch định chính sách phát triển các ứng dụng tin học, hoặc một lập trình viên phát triển các phần mềm hệ thống.</p>
<p>- Làm việc trong các công ty sản xuất, gia công phần mềm trong nước cũng như nước ngoài. Làm việc tại các công ty tư vấn đề xuất giải pháp, xây dựng và bảo trì các hệ thống thông tin hoặc làm việc tại bộ phận công nghệ thông tin.</p>
<p>- Cán bộ nghiên cứu khoa học và ứng dụng Công nghệ thông tin ở các trung tâm nghiên cứu, Sở, Ban, Ngành.</p>
<p>- Bộ phận Quản trị, bộ phận IT tại các công ty, kể cả công ty hoạt động trong lĩnh vực Công nghệ và các lĩnh vực khác.</p>
<h3>4. Giới thiệu một số hoạt động của ngành Khoa học máy tính</h3>
<p>Bên cạnh việc học tập chính khóa, sinh viên còn tham gia các cuộc thi như GALA IT, Olympic tin học, Ngày hội sáng tạo CNTT, Microsoft Office Specialist; các hoạt động văn hóa, thể thao; tham dự các buổi bồi dưỡng về kỹ năng mềm như: Thiết lập mục tiêu và tạo động lực, kỹ năng xin việc,…</p>
<img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh7.jpg" alt="" width="100%" />

<p><em>Vòng chung kết GALA IT Khoa Khoa học máy tính</em></p>
<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh8.jpg" alt="" width="100%"/>

<p><em>Hội thảo do IBM Việt Nam tổ chức</em></p>


<img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh9.jpg" alt="" width="100%" />

<p><em>Hội thảo do LogiGear tổ chức tại trường</em></p>

<p>Trong thời gian học tập sinh viên được tiếp cận với các doanh nghiệp công nghệ thông tin như: Chi nhánh FPT Software Đà Nẵng, LogiGear, Gameloft, Enclave, QG.</p>

<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh10.jpg" alt="" width="100%"/>
<p><em>Thực tập thực tế tại Chi nhánh FPT Software Đà Nẵng</em></p>
<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh11.jpg" alt="" width="100%"/>
<p><em>Thực tập thực tế tại LogiGear</em></p>
<p> <img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh12.jpg" alt="" width="100%" /></p>

<p><em>Thực tập thực tế tại Gameloft DAD Studio</em></p>
<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh13.jpg" alt="" width="100%" />

<p><em>Ngày Hội việc làm tại trường</em></p>

<p>Hàng năm có các chương trình giao lưu giữa sinh viên Trường Cao đẳng Công nghệ thông tin hữu nghị Việt – Hàn với sinh viên các trường đại học Hàn Quốc. Các em đã giao lưu văn nghệ, học tiếng Hàn, tập võ Taekondo, tham gia các hoạt động xã hội tại như làm đường, nấu cháo cho bệnh nhân tại Bệnh viện Ưng thư Đà Nẵng,…..</p>

<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh14.jpg" alt="" width="100%" height="100%" /></td>

<p><em>Giao lưu văn nghệ sinh viên Việt Nam – Hàn Quốc</em></p>


<p>     Bắt đầu từ năm 2015, sinh viên Khoa Khoa học máy tính đạt chứng chỉ tiếng Hàn TOPIK 2, được nhà trường hỗ trợ lớp bồi dưỡng tiếng Hàn để tham dự cuộc thi xét cấp học bổng của Trường Đại học Tong Myong, Hàn Quốc. Trường Đại học Tong Myong hỗ trợ 75% học phí và tiền ký túc xá, sinh viên đóng thêm 25% học phí/học kỳ (tương đương 1000USD).</p>
<ul style="text-align: justify;">
<li>Một số gương mặt cựu học sinh của Khoa Khoa học máy tính.</li>
</ul>
<p> </p>
<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh15.jpg" alt="" width="272" height="409" />

<p> </p>
<p>Họ tên: Lê Việt Thanh Bình – Cựu sinh viên Khóa 3</p>
<p>Vị trí làm việc: Chuyên Viên Kiểm thử phần mềm (Tester)</p>
<p>Công ty: Công ty Logigear</p>
<p> </p>
<p><em>VietHanIT- Nơi đầu tiên chắp cánh cho tôi trên con đường IT. Nơi có các thầy các cô luôn luôn quan tâm dạy bảo tận tình. Là nơi truyền cho tôi cảm hứng để vững bước trên con đường đời với những kiến thức đạt được từ nơi đây. Cảm ơn thầy cô giáo đã dạy dỗ em và cảm ơn VietHanIT - Một Điểm Tựa ....cho thành công và cho tương lai !</em></p>
<p> </p>

<p>  </p>

<p> <img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh16.jpg" alt="" width="285" height="380" /></p>
</td>

<p>Họ tên: Lý Vinh – Cựu sinh viên Khóa 3</p>
<p>Vị trí làm việc: Chuyên Viên Kiểm thử phần mềm (Tester)</p>
<p>Công ty: Logigear</p>
<p>Email: culy1023@gmail.com / vinh.ly@logigear.com</p>
<p><em>Trường Cao đẳng CNTT Hữu nghị Việt – Hàn là ngôi trường mà tôi đã chọn cho quãng đời sinh viên của mình, là nơi đã cho tôi những kiến thức cần thiết để tôi có được công việc như ngày hôm nay, những kiến thức mà không chỉ những trường Đại học lớn mới có. Trải qua 3 năm học tập tại Trường, tôi đã nhận được rất nhiều sự dạy bảo của Thầy Cô, không chỉ trong học tập mà còn trong các hoạt động Đoàn, Hội đầy bổ ích. </em></p>
<p><em>    Ở đây, tôi được học tập trong một môi trường với cơ sở vật chất đầy đủ và tiên tiến, có điều kiện thực hành sau mỗi bài học một cách hiệu quả. Trường cũng tạo điều kiện cho tôi có cơ hội tham gia, tìm hiểu về môi trường làm việc thực tế bằng các buổi tham quan thực tế, các hội thảo và các cuộc thi IT đầy bổ ích.</em></p>

<p> </p>
<img src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khoahocmaytinh17.jpg" alt="" width="272" height="446" />

<p>Họ tên: Phan Thành Phát – Cựu sinh viên Khóa 4</p>
<p>Vị trí làm việc: Web Developer</p>
<p>Công ty: TNHH Dịch vụ Phát Triển Phần Mềm Trí Tuệ Việt ( TTV Online)</p>
<p> </p>
<p><em>   Tôi thấy thật tự hào khi Việt Hàn IT là một trong những trường đào tạo tại Việt Nam có trang thiết bị dạy và học hiện đại, đội ngũ giảng viên giàu kinh nghiệm và các hoạt động ngoại khóa đa dạng, phong phú. Chính việc học tập trong môi trường năng động này đã giúp tôi nhanh chóng thích nghi và bắt nhịp với cuộc sống, công việc nhộn nhịp tại Sài Gòn. Tôi luôn tự tin khi giới thiệu với bạn bè, đồng nghiệp về ngôi trường mang tên Việt Hàn IT.</em></p>
<p> </p>
<p> </p>
<h3>5. Xét tuyển Ngành Khoa học máy tính</h3>
<ul style="text-align: justify;">
<li>Hình thức và các môn xét tuyển xét tuyển</li>
</ul>
<p>Trong năm 2015, Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn tuyển sinh Ngành Khoa học máy tính theo 2 phương thức:</p>
<p>- Phương thức 1: Tổ chức xét tuyển dựa trên kết quả kỳ thi THPT quốc gia theo phương án do Bộ Giáo dục và Đào tạo quy định gồm 3 tổ hợp:  Toán, Vật lý, Hóa học (A00); Toán, Vật lý, Anh văn (A01);  Toán, Ngữ văn, Anh văn (D01) </p>
<p>- Phương thức 2:  Xét tuyển dựa vào kết quả học tập bậc trung học phổ thông: Xét kết quả học tập của 3 môn học trong 3 năm học THPT (căn cứ theo học bạ) 3 tổ hợp:  Toán, Vật lý, Hóa học (A00); Toán, Vật lý, Anh văn (A01); Toán, Ngữ văn, Anh văn (D01).</p>
<ul style="text-align: justify;">
<li>Thời gian đăng ký xét tuyển</li>
</ul>
<p>+ Đợt 1: Từ ngày 01/06/15 – 30/7/15; Đợt 2: Từ ngày 10/08/15 – 30/9/15</p>
<p>+ Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn công bố kết quả xét tuyển sau 5 ngày hết hạn nộp hồ sơ.</p>
<p>+ Nộp hồ sơ trực tiếp tại Phòng Đào tạo hoặc chuyển phát nhanh qua đường bưu điện theo địa chỉ:</p>
<p>Phòng Đào tạo - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</p>
<p>Lô 1, Làng đại học Đà Nẵng, đường Trần Đại Nghĩa, Phường Hòa Quý </p>
<p>Quận Ngũ Hành Sơn - Thành phố Đà Nẵng</p>
<p>www.viethanit.edu.vn</a></p>
<p> </p>
</div>


                </div>

            </div>    
        </div>
