---
layout: default
title: Ngành quản trị kinh doanh | Tuyển sinh 2015
header_css: no-banner
major: qtkd
---

        {% include major_breadcrumb.html %}

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    {% include admission_card.html %}
                </div>

                <div class="col-md-8">
                    <div class="block_component">
                        <p>Đang cập nhật nội dung</p>
                    </div>


                </div>

            </div>    
        </div>
