{% assign major = site.data.majors[page.major] %}                    
                    <div class="block_component admission_card" data-spy="affix" data-offset-top="140">
                        <p><strong>Ngành {{ major.title }}</strong>, mã ngành <strong>{{ major.code }}</strong> </p>
                        <p>Hình thức tuyển sinh:</p>
                        <ul>
                            <li>Theo kết quả kỳ thi THPT Quốc gia</li>
                            <li>Xét tuyển học bạ THPT</li>
                        </ul>
                        <p>Tổ hợp xét tuyển:</p>
                        <ul>
                            <li>Toán, Vật lí, Hoá học</li>
                            <li>Toán, Vật lí, Tiếng Anh</li>
                            <li>Toán, Ngữ văn, Tiếng Anh</li>
                        </ul>
                        <p>Thời gian tuyển sinh:</p>
                        <ul>
                            <li>Đợt 1: Từ 01/06 – 30/07 năm 2015</li>
                            <li>Đợt 2: Từ 10/08 – 30/09 năm 2015</li>
                        </ul>
                        <p class="alert alert-info">Thí sinh xét tuyển ngành này theo kết quả học bạ có thể <strong><a href="dkxt_hocba_online.html">đăng ký online ngay bây giờ</a></strong> hoặc tìm hiểu thêm về <a href="thongtin_tuyensinh2015.html">thông tin tuyển sinh 2015 tại đây</a>.</p>
                        <a href="dkxt_hocba_online.html" class="btn btn-primary btn-lg btn-block">Đăng ký xét tuyển bằng học bạ</a>
                    </div>