<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Tuyển sinh 2015 | Trường CĐ CNTT Hữu Nghị Việt Hàn</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">

            <!-- Nav -->
            <nav class="navbar navbar-default navbar-s1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="thongtin_tuyensinh.html">Tuyển sinh 2015<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="thongtin_tuyensinh.html">Thông tin tuyển sinh 2015</a></li>
                            <li><a href="thongtin_diemchuan.html">Điểm chuẩn của bộ giáo dục đào tạo</a></li>
                            <li><a href="kq_hocba.html">Danh sách trúng tuyển bằng học bạ phổ thông</a></li>
                            <li><a href="kq_nguyenvong1.html">Danh sách trúng tuyển nguyện vọng 1</a></li>
                            <li><a href="kq_nguyenvong2.html">Danh sách trúng tuyển nguyện vọng 2</a></li>
                            <li><a href="kq_nguyenvong3.html">Danh sách trúng tuyển nguyện vọng 3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Ngành đào tạo <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="nganh_dt_tt.html">Công nghệ kĩ thuật điện tử, truyền thông</a></li>
                            <li><a href="nganh_kt.html">Công nghệ kĩ thuật kiến trúc</a></li>
                            <li><a href="nganh_tkdh.html">Thiết kế đồ họa</a></li>
                            <li><a href="nganh_khmt.html">Khoa học máy tính</a></li>
                            <li><a href="nganh_qtkd.html">Quản trị kinh doanh</a></li>
                            <li><a href="nganh_marketing.html">Marketing</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><strong>Đăng ký</strong> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="dkxt_hocba_online.html">Xét tuyển theo học bạ phổ thông trực tuyến</a></li>
                            <li><a href="dkxt_nguyenvong1.html">Đăng ký nguyện vọng 1</a></li>
                            <li><a href="dkxt_nguyenvong2.html">Đăng ký nguyện vọng 2</a></li>
                            <li><a href="dkxt_nguyenvong3.html">Đăng ký nguyện vọng 3</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="tintuc.html">Tin tức</a></li>
                    <li class=""><a href="hoidap.html">Hỏi đáp</a></li>
                    <li class=""><a href="kythiquocgia2015.html">Kỳ thi quốc gia 2015</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="https://viethanit.edu.vn">Về trang chủ trường Việt-Hàn <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Cơ sở vật chất</a></li>
                            <li><a href="#">Đối tác</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- ./. Nav -->

            <!-- Header -->
            <header class="{{ page.header_css }}">
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            <small>Trường CĐ CNTT Hữu nghị Việt - Hàn</small>
                            Trang tuyển sinh 2015
                        </h1>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4 text-center">
                        <h4><i class="glyphicon glyphicon-envelope"></i> tuyensinh<strong>&#64; viethanit.edu.vn</strong></h4>
                        <h4><i class="glyphicon glyphicon-phone"></i> <span style="color: #666666;">05113 962 888</span></h4>
                    </div>
                </div>
            </header>
            <!-- ./. Header -->
        </div>

        {{ content }}

        <div class="container">
            <footer>
                <div class="row">
                    <div class="col-md-6">
                        Copyright &#169; 2015 Trường Cao Đẳng  CNTT Hữu nghị Việt - Hàn.
                    </div>
                    <div class="col-md-6 text-right">
                        <i class="glyphicon glyphicon-envelope"></i> tuyensinh@viethanit.edu.vn |
                        <i class="glyphicon glyphicon-phone"></i> 05113 962 888
                    </div>
                </div>
            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
